@mixin state-overlay($color: currentColor) {
    position: relative;
}

@mixin focus-ring($color: currentColor) {
    &:focus-visible {
        outline: 2px solid #{$color};
        outline-offset: 2px;
    }
}

@mixin icon-button($size: var(--icon-size-lg)) {
    inline-size: #{$size};
    block-size: #{$size};
    padding: 0;
}
